name: Commitlint

on:
  pull_request:
    branches:
      - main
      - 'release/**'

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        # v4
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Commits
        # v6
        uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed
        with:
          configFile: commitlint.config.mjs
